h1{color: #8a2be2}
.header{background-color: #deb887;
display: flex;
justify-content: space-between;}

.grid{background-color: #00FFBF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{background-color: #00FFBF;
    display: flex;
    justify-content: space-evenly;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 20px;
}

.footer img{
    border: 2px solid #000000;
    border-radius: 20px;
}